In [1]:
import expdataanalysis as eda
import pandas as pd
submission = eda.read_file('sample_submission.csv')
submission = eda.optimize_mem_usage(submission, True)

reading csv file...
Memory usage of dataframe is 13.49 MB
Memory usage after optimization is: 4.83 MB
Decreased by 64.2%

In [2]:
json_df = eda.read_file("Config", "json")
json_df

reading json file...

  name  packs  itmes  mask
0   K1    285   True  0000
1   K2    336  False  0000
2   K3    285   True  0000
3   K4    386  False  000F